<section id="portfolio" class="portfolio bg-secondary">
    <div class="container">
        <h2 class="text-center" style="color: white;"> OUR PORTFOLIO </h2>

        <div class="row">
            <div class="col-md-5ths col-xs-6">
              <%= image_tag "home_page/portfolio_1.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-5ths col-xs-6">
              <%= image_tag "home_page/portfolio_2.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-5ths col-xs-6">
              <%= image_tag "home_page/portfolio_3.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-5ths col-xs-6">
              <%= image_tag "home_page/portfolio_4.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-5ths col-xs-6">
              <%= image_tag "home_page/portfolio_5.jpg", class:"img-responsive", alt:"" %>
            </div>
        </div>

        <div class="row top-buffer">
            <div class="col-md-4 picture-fade">
                <%= image_tag "home_page/picture_fade_1.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-4 picture-fade">
                <%= image_tag "home_page/picture_fade_2.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-4 picture-fade">
                <%= image_tag "home_page/picture_fade_3.jpg", class:"img-responsive", alt:"" %>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-4 picture-fade">
                <%= image_tag "home_page/picture_fade_4.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-4 picture-fade">
                <%= image_tag "home_page/picture_fade_5.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-4 picture-fade">
                <%= image_tag "home_page/picture_fade_6.jpg", class:"img-responsive", alt:"" %>
            </div>
        </div> 
        <div class="row top-buffer">
            <div class="col-md-4 picture-fade">
                <%= image_tag "home_page/picture_fade_7.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-4 picture-fade">
                <%= image_tag "home_page/picture_fade_8.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-4 picture-fade">
                <%= image_tag "home_page/picture_fade_9.jpg", class:"img-responsive", alt:"" %>
            </div>
        </div>
        <div id="myModal" class="modal">
            
            <img class="modal-content" id="img01">
            <div id="caption"></div>
            <div class="close">&times;</div>
        </div>
    </div>
</section>