<section id="team" class="bg-primary">
    <div class="container">
        <h2 class="text-center">OUR TEAM</h2>
        <div class="row">
            <div class="col-md-2">
              <div class="img-service-homepage-container">
                <%= image_tag "home_page/avatar1.jpg", class: "img-responsive", alt:"", id: "img_service_homepage" %>
                  <div class="overlay">
                    <div class="text">Hello World</div>
                  </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="img-service-homepage-container">
                <%= image_tag "home_page/avatar2.jpg", class: "img-responsive", alt:"", id: "img_service_homepage" %>
                  <div class="overlay">
                    <div class="text">Hello World</div>
                  </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="img-service-homepage-container">
                <%= image_tag "home_page/avatar3.jpg", class: "img-responsive", alt:"", id: "img_service_homepage" %>
                  <div class="overlay">
                    <div class="text">Hello World</div>
                  </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="img-service-homepage-container">
                <%= image_tag "home_page/avatar4.jpg", class: "img-responsive", alt:"", id: "img_service_homepage"%>
                  <div class="overlay">
                    <div class="text">Hello World</div>
                  </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="img-service-homepage-container">
                <%= image_tag "home_page/avatar5.jpg", class: "img-responsive", alt:"", id: "img_service_homepage"%>
                  <div class="overlay">
                    <div class="text">Hello World</div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>