<section id="download" class="download bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <%= image_tag "home_page/sns.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-8">
                <h3 class="section-heading text-center">WORKING WITH OUR TEAM!</h3>

                <p>
                    Supermassy Studio can do .......... Do your Project from A to Z
                </p>
                <p>
                    Pixel art/Animation
                </p>
                <p>
                    UI/UX for Pixel PC / mobile game
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2 pull-right" style="padding-bottom: 20px; padding-right: 60px;">
                <%= image_tag "home_page/btn_contact.jpg", class:"img-responsive", alt:"" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <%= image_tag "home_page/service_1.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-3">
                <%= image_tag "home_page/service_2.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-3">
                <%= image_tag "home_page/service_3.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-3">
                <%= image_tag "home_page/service_4.jpg", class:"img-responsive", alt:"" %>
            </div>

        </div>
    </div>
</section>