<section id="service" class=" bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-1 cursor-pointer">
                <%= image_tag "home_page/sns.jpg", class:"img-responsive", alt:"" %>
            </div>
            <div class="col-md-11" style="margin-left: -25px">
                <h2 class="text-center" style="margin-top: 0px; color: #ddd">WORKING WITH OUR TEAM!</h2>

                <p style="font-size: 14px; color: #6f6f6f; margin: 0px;">
                    Supermassy Studio can do .......... Do your Project from A to Z
                </p>
                <p style="font-size: 14px; color: #6f6f6f; margin: 0px;">
                    Pixel art/Animation
                </p>
                <p style="font-size: 14px; color: #6f6f6f; margin: 0px;">
                    UI/UX for Pixel PC / mobile game
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 pull-right cursor-pointer" style="padding-bottom: 20px; padding-left: 20px;">
                <%= image_tag "home_page/btn_contact.jpg", class:"img-responsive", alt:"" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <div class="img-service-homepage-container">
                <%= image_tag "home_page/service_1.jpg", class: "img-responsive", alt:"", id: "img_service_homepage" %>
                <%= link_to service_path(1), method: :get do %>
                  <div class="overlay">
                    <div class="text">Hello World</div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="img-service-homepage-container">
                <%= image_tag "home_page/service_2.jpg", class: "img-responsive", alt:"", id: "img_service_homepage" %>
                <%= link_to service_path(2), method: :get do %>
                  <div class="overlay">
                    <div class="text">Hello World</div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="img-service-homepage-container">
                <%= image_tag "home_page/service_3.jpg", class: "img-responsive", alt:"", id: "img_service_homepage" %>
                <%= link_to service_path(3), method: :get do %>
                  <div class="overlay">
                    <div class="text">Hello World</div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="img-service-homepage-container">
                <%= image_tag "home_page/service_4.jpg", class: "img-responsive", alt:"", id: "img_service_homepage"%>
                <%= link_to service_path(4), method: :get do %>
                  <div class="overlay">
                    <div class="text">Hello World</div>
                  </div>
                <% end %>
              </div>
            </div>

        </div>
    </div>
</section>